{% extends 'base.html' %}

{% block content %}




<h1>Список объявлений</h1>

{% if user.is_authenticated %}
    <a href="{% url 'ads:add_ad' %}"><button type="submit">Добавить объявление</button></a>

{% endif %}
<ul>
  {% for ad in ads %}

    <h2 ><a href="{% url 'ads:ad_detail' pk=ad.pk %}">Объявление №: {{ ad.id }} / Заголовок объявления: {{ ad.title }} </a></h2>
    <li>
      <a>Дата публикации: {{ ad.created_at }}</a>
    </li>
    <li>
      <a>Статус объявления: "{{ ad.status }}"</a>
    </li>
    <li>
      <a>Автор: "{{ ad.user }}"</a>
    </li>

  {% endfor %}
</ul>

{% endblock %}